.player {
  background-color: #02189f;
  color: white;
  text-align: center;
  padding: 10px;
  margin: 0 20px;
  font-size: 2em;
  border-radius: 10px;
  width: 200px;
  margin-bottom: 5px;
  z-index: 10000;
  position: relative;
}

.player.active {
  background-color: #25a525 !important;
}

.player.gm {
  color: black;
}

.player.gm:nth-child(1) {
  background-color: lightgreen;
}

.player.gm:nth-child(2) {
  background-color: lightcoral;
}

.player.gm:nth-child(3) {
  background-color: violet;
}

.player.gm:nth-child(4) {
  background-color: orange;
}

.edit-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 14px;
}

.edit-icon:hover {
  color: #0059b8;
}

.player-edit-form {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.player-edit-input {
  padding: 4px;
  font-size: 14px;
}

.player-edit-buttons {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.player-edit-button {
  flex: 1;
  padding: 5px 10px;
  font-size: 14px;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.player-edit-button.save {
  background-color: #28a745; /* Green for Save */
}

.player-edit-button.save:hover {
  background-color: #218838;
}

.player-edit-button.cancel {
  background-color: #dc3545; /* Red for Cancel */
}

.player-edit-button.cancel:hover {
  background-color: #c82333;
}

.player-buzzer {
  margin-top: 10px;
  font-size: 14px;
}